@import url("https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,600i,700,700i,800,800i,900|Petit+Formal+Script&display=swap");

@font-face {
  font-family: "CustomFont";
  src: url("../fonts/Dzeragir.otf") format("opentype");
}

@font-face {
  font-family: "CustomFont2";
  src: url("../fonts/BraindAmanor.otf") format("opentype");
}

@font-face {
  font-family: "Amrys";

  src: url("../fonts/amrys/Amrys-Book.ttf") format("truetype");
}

.custom-text {
  font-family: "CustomFont", sans-serif !important;
}
.custom-text2 {
  font-family: "CustomFont2", sans-serif !important;
}
.custom-text3 {
  font-family: "Amrys", sans-serif !important;
}

.dark-text {
  color: #865f4c !important;
}

body {
  font-family: "Petit Formal Script", cursive;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}

a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  color: #fff;
  text-decoration: none;
}

a:focus,
a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a,
button {
  color: #1f1f1f;
  outline: medium none;
}

h3,
h4 {
  font-family: "Petit Formal Script", cursive;
  color: #1f1f1f;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #727272;
  margin-bottom: 13px;
  font-family: "Petit Formal Script", cursive;
}

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

h3 {
  font-size: 24px;
}

.overlay2 {
  position: relative;
  z-index: 0;
}

.overlay2::before {
  position: absolute;
  content: "";
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}

.boxed_btn3 {
  background: #555;
  padding: 9px 26px;
  margin-bottom: 0;
  font-size: 20px;
  color: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
}

.boxed_btn3:hover {
  background: #faf0f0;
  color: #555;
}

@media (min-width: 768px) and (max-width: 991px) {
  .boxed_btn3 {
    padding: 9px 16px;
  }
}

.section_title {
  margin-bottom: 62px;
}

@media (max-width: 767px) {
  .section_title {
    margin-bottom: 25px;
  }
}

.section_title span {
  font-size: 40px;
  font-weight: 400;
  font-family: "Muli", sans-serif;
  color: #555;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section_title h3 {
  font-size: 36px;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .section_title h3 {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 767px) {
}

@media (max-width: 767px) {
}

@media (max-width: 767px) {
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 1200px) and (max-width: 1500px) {
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 1200px) and (max-width: 1500px) {
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 1200px) and (max-width: 1500px) {
}

.slider_bg_1 {
  background-image: url(../img/main/3.gif);
}

.slider_area {
  background: #fff;
}

@media (min-width: 481px) {
  .slider_bg_1 {
    background-image: url(../img/main/3.gif);
  }
}

.slider_area_inner {
  z-index: 8;
  position: relative;
  z-index: 8;
  background-repeat: no-repeat;
  background-size: 111%;
  background-position: -37px -70px;
}

@media (max-width: 767px) {
  .slider_area_inner {
    height: 420px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner {
    height: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area_inner {
    height: 700px;
    background-position: right;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .slider_area_inner {
    height: 800px;
    background-position: right;
  }
}

@media (min-width: 481px) {
  .slider_area_inner {
    height: 800px;
    background-size: cover;
  }
}

.slider_area_inner .slider_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #555;
  padding: 126px 55px;
  -webkit-border-radius: 35%;
  -moz-border-radius: 35%;
  border-radius: 35%;
  z-index: 10;
}

@media (max-width: 767px) {
  .slider_area_inner .slider_text > * {
    transform: rotate(-45deg) !important;
  }
  .slider_area_inner .slider_text {
    transform: translate(0%, -50%) rotate(0deg);
    padding: 35px 25px;
    left: 0;
    padding: 35px 25px;
    left: 0;
    right: 0;
    margin: auto;
    top: 98%;
    transform: translateY(-50%) rotate(45deg);
    display: inline-block;
    width: 270px;
    height: 270px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner .slider_text > * {
    transform: rotate(-45deg) !important;
  }
  .slider_area_inner .slider_text {
    transform: translate(0%, -50%) rotate(0deg);
    padding: 35px 25px;
    left: 0;
    padding: 35px 25px;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    display: inline-block;
    width: 270px;
    height: 270px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area_inner .slider_text > * {
    transform: rotate(-45deg) !important;
  }
  .slider_area_inner .slider_text {
    transform: rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg) rotate(0deg);
    padding: 70px 25px;
  }
}

.slider_area_inner .slider_text .text_inner {
  position: relative;
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .slider_area_inner .slider_text .text_inner {
    transform: rotate(0deg);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner .slider_text .text_inner {
    transform: rotate(0deg);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area_inner .slider_text .text_inner {
    transform: rotate(0deg);
  }
}

.slider_area_inner .slider_text h4 {
  font-size: 26px;
  font-weight: 600;
  font-family: "Muli", sans-serif;
  color: #fff;
  margin-top: 5px;
}

.slider_area_inner .slider_text h3 {
  font-size: 36px;
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  color: #fff;
  line-height: 46px;
  margin-bottom: 36px;
  margin-top: 23px;
}

@media (max-width: 767px) {
  .slider_area_inner .slider_text h3 {
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner .slider_text h3 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

.slider_area_inner .slider_text span {
  font-size: 18px;
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  color: #fff;
}

.slider_area_inner .slider_text:before {
  position: absolute;
  content: "";
  right: -40px;
  bottom: -25px;
  -webkit-border-radius: 35%;
  -moz-border-radius: 35%;
  border-radius: 35%;
  border: 1px solid #555;
  top: -30px;
  left: -20px;
  z-index: -3;
}

@media (max-width: 767px) {
  .slider_area_inner .slider_text:before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner .slider_text:before {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area_inner .slider_text:before {
    display: none;
  }
}

.slider_area_inner .slider_text:after {
  position: absolute;
  content: "";
  right: -25px;
  bottom: -25px;
  -webkit-border-radius: 35%;
  -moz-border-radius: 35%;
  border-radius: 35%;
  border: 1px solid #f2c64d;
  top: -30px;
  left: -40px;
  z-index: -3;
}

@media (max-width: 767px) {
  .slider_area_inner .slider_text:after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner .slider_text:after {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area_inner .slider_text:after {
    display: none;
  }
}

.counter_bg {
  background-image: url(../img/counter_bg/counter_bg.png);
}

.weeding_countdown_area {
  padding-top: 150px;
  padding-bottom: 75px;
  position: relative;
  z-index: 9;
}

.weeding_countdown_area .flowaers_top {
  position: absolute;
  top: 102px;
  right: -17px;
}

.weeding_countdown_area .flowaers_bottom {
  position: absolute;
  left: -144px;
  bottom: -200px;
}

@media (max-width: 767px) {
  .weeding_countdown_area {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.weeding_countdown_area .countdown_area {
  padding: 35px 35px 50px 35px;
  background-size: cover;
  background-position: bottom;
}

@media (max-width: 767px) {
}

@media (max-width: 767px) {
}

.attending_area {
  padding-top: 95px;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
  .attending_area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .attending_area {
    padding-top: 0;
  }
}

.attending_area .main_attending_area {
  position: relative;
  z-index: 9;
}

.attending_area .main_attending_area .flower_1 {
  position: absolute;
  left: 0;
  top: -120px;
}

.attending_area .main_attending_area .flower_2 {
  position: absolute;
  right: 30px;
  bottom: -120px;
}

.attending_area .main_attending_area .popup_box {
  background: #fff;
  display: inline-block;
  z-index: 9;
  padding: 51px 40px 60px 40px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px) {
  .attending_area .main_attending_area .popup_box {
    padding: 20px;
  }
}

.attending_area .main_attending_area .popup_box h3 {
  text-align: center;
  font-size: 36px;
  color: #555;
}

.attending_area .main_attending_area .popup_box p {
  font-size: 15px;
  color: #727272;
  font-family: "Muli", sans-serif;
  margin-bottom: 34px;
}

.attending_area .main_attending_area .popup_box input[type="text"] {
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  font-family: "Muli", sans-serif;
}

.attending_area .main_attending_area .popup_box input[type="text"]:focus {
  outline: none;
}

.attending_area .main_attending_area .popup_box button {
  width: 100%;
  border: none;
  font-family: "Muli", sans-serif;
}

.attending_area .main_attending_area .popup_box textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  font-family: "Muli", sans-serif;
}

.attending_area .main_attending_area .popup_box textarea:focus {
  outline: none;
}

.location_area {
  position: relative;
}

.location_area #map,
.location_area #map2 {
  height: 800px !important;
}

@media (max-width: 768px) {
  .location_area #map,
  .location_area #map2 {
    height: 400px !important;
  }
}

.location_area .location_info {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 9;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .location_area .location_info {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    left: 0%;
    position: relative;
  }
}

.location_area .location_info .location_inner {
  background: #fff;
  width: 616px;
  max-width: 616px;
  padding: 54px 60px 54px 60px;
}

@media (max-width: 767px) {
  .location_area .location_info .location_inner {
    padding: 20px;
    width: 100%;
    bottom: 0;
  }
}

.location_area .location_info .location_inner .location_top {
  margin-bottom: 42px;
}

.location_area .location_info .location_inner h3 {
  font-size: 36px;
  font-weight: 400;
  color: #555;
}

.location_area .location_info .location_inner p {
  color: #727272;
  font-size: 16px;
  font-family: "Muli", sans-serif;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 400;
}

.location_area .location_info .location_inner p span {
  color: #555;
}

@media (max-width: 767px) {
  .location_area .location_info .location_inner .address_info {
    display: block !important;
  }
}

.location_area .location_info .location_inner .address_info .single_address h4 {
  color: #555;
  font-size: 26px;
  font-family: "Muli", sans-serif;
  font-weight: 600;
}

.location_area .location_info .location_inner .address_info .single_address p {
  color: #727272;
  font-size: 15px;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 26px;
}

@media (max-width: 767px) {
}

@media (max-width: 767px) {
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h3,
h4 {
  line-height: 1.2em;
}

.form-select {
  height: 40px;
  width: 100%;
}

.weeding_countdown_area {
  padding-top: 150px;
  padding-bottom: 75px;
  position: relative;
  z-index: 9;
}

.weeding_countdown_area .flowaers_top {
  position: absolute;
  top: 102px;
  right: -17px;
}

.weeding_countdown_area .flowaers_bottom {
  position: absolute;
  left: -144px;
  bottom: -200px;
}

@media (max-width: 767px) {
  .weeding_countdown_area {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.weeding_countdown_area .countdown_area {
  padding: 35px 35px 50px 35px;
  background-size: cover;
  background-position: bottom;
}

.weeding_countdown_area .countdown_area .countdown_wrap {
  background: #fff;
  justify-content: space-evenly;
  padding-bottom: 36px;
  padding-top: 30px;
}

@media (max-width: 767px) {
  .weeding_countdown_area .countdown_area .countdown_wrap {
    display: block !important;
  }
}

.weeding_countdown_area .countdown_area .countdown_wrap .single_countdown {
  text-align: center;
}

.weeding_countdown_area .countdown_area .countdown_wrap .single_countdown h3 {
  font-size: 60px;
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  color: #555;
  margin-bottom: 17px;
}

@media (max-width: 767px) {
  .weeding_countdown_area .countdown_area .countdown_wrap .single_countdown h3 {
    font-size: 30px;
  }
}

.weeding_countdown_area .countdown_area .countdown_wrap .single_countdown span {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.inviteText {
  margin-top: 150px;
  text-align: center;
  color: #865f4c;
  padding: 0 10px;
}

@media (min-width: 481px) {
  .inviteText {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
  }
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

#myModal--effect-zoomIn.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 120px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#myModal--effect-zoomIn.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -120px, 0);
  transform: translate3d(0, -120px, 0);
  opacity: 1;
}

.modal-backdrop.show {
  z-index: 999 !important;
}

.bg-button-main {
  background: #555;
}

#myModal--effect-zoomIn > div > div > div.modal-footer > button:hover {
  background: #865f4c !important;
}
